
		<div class="row bg-dark footer text-light mt-4">
			<div class="col-md-11 mx-auto">
				<div class="row py-5">
					
					<div class="col-12 col-lg-3 col-md-6">
						<h4>Socials</h4>
						<p><a href="https://www.facebook.com">Facebook</a></p>
						<p><a href="https://www.instagram.com">Instagram</a></p>
						<p><a href="https://www.linkedin.com">LinkedIn</a></p>
						<p><a href="https://www.x.com">X (twitter)</a></p>
					</div>
					
					<div class="col-12 col-lg-3 col-md-6">
						<h4>Quick Links</h4>
						<p><a href="/">Home</a></p>
						<p><a href="/about/">About Us</a></p>
					</div>
					
					<div class="col-12 col-lg-3 col-md-6">
						<h4>Support</h4>
						<p><a href="/faq/">FAQs</a></p>
						<p><a href="/terms/">Terms & Conditions </a></p>
					</div>

					<div class="col-12 col-lg-3 col-md-6">
						<img src="{{url_for('static',filename='images/logo.png')}}" class="img-fluid w-75"/>
					</div>
				</div>
				
				<div class="col discover text-center">
					<p>Discover <span class="text-info">Talent</span></p>
				</div>
				<hr>
				<div class="col text-center">
				<p>Copyright &copy; FOOTBALL SCOUT 2026</p>
				</div>
			</div>
			
		</div>